html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*{
    
    box-sizing: border-box;
}*/

body {
    display: flex;
    overflow-x: hidden;
    background-image: url("./undercard_backgroung_black.png");
    justify-content: center;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 15px;
}

header h1 {
    padding-top: 20px;
}

#important {
    width: 100%;
    display: flex;
    justify-content: center;
}

.description p {
    margin-top: 8px;
    color: black;
}

.description h2 {
    margin-bottom: 0px;
    color: white;
}

.info .presentation p {

margin-top: 10px;

font-size: 20px;
}

.nature h3 {

    margin-bottom: 5px;
}

.grass {
    background-color: rgb(155, 204, 80);
}

.water {
    background-color: rgb(69, 146, 196);
}

.fire {
    background-color: rgb(253, 125, 36);
}

.poison {
    background-color: rgb(185, 127, 201);
}

.flying {
    background-image: linear-gradient(rgb(61, 199, 239), rgb(189, 185, 184));
}

.ice {
    background-color: rgb(81, 196, 231);
}

.psychic {
    background-color: rgb(214, 126, 238);
}

.bug {
    background-color: rgb(114, 159, 63);
}

.ground {
    background-image: linear-gradient(rgb(171, 152, 66), rgb(247, 222, 63));
}

.rock {
    background-color: rgb(163, 140, 33);
}

.normal {
    background-color: rgb(164, 172, 175);
}

.electric {
    background-color: rgb(238, 213, 53);
}

.fairy {
    background-color: rgb(106, 97, 0);
}

.fighting {
    background-color: rgb(213, 103, 35);
}

.steel {
    background-color: rgb(158, 183, 184);
}

.ghost {
    background-color: rgb(123, 98, 162);
}

.dragon {
    background-image: linear-gradient(rgb(83, 164, 207), rgb(241, 110, 87));
}

.able {
    background-color: rgb(48, 167, 215) !important;
}

.enable {
    background-color: white;
}

.colorB {
    background-color: rgb(48, 167, 215) !important;
}

.contJhoto {
    width: 1300px;
    height: fit-content;
    background: url("./undercard_backgroung_white.png") rgb(255, 255, 255);
}

.pokeCont .cards img {
    width: 100%;
    height: 100%;
}

.pokeCont .cards .contIMG {
    background-color: rgb(242, 242, 242);
    width: 100%;
    height: 220px;
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 25px;
}

.pokeCont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.style_white_cont {
    width: 1000px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.pokeCont:last-child::after {
    width: 500px;
}

.pokeCont .cards {
    width: 210px;
    height: 310px;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

.pokeCont .cards:hover {
    cursor: pointer;
}

.pokeCont .cards p {
    text-align: left;
    font-size: 25px;
    margin: 5px;
}

.pokeCont .cards .idCard {
    font-size: 20px;
    color: rgb(210, 205, 215);
}

.aumenta {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_aumenta {
    height: 45px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgb(48, 167, 215);
    color: white;
    margin: 30px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 15px;
}

.btn_aumenta:hover {
    background-color: rgb(68 127 151);
}

.underCards {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    z-index: 1;
    background-image: url("./undercard_backgroung_black.png");
    overflow-y: scroll;
}

.underCards .contPokedex {
    width: 1200px;
    height: 90rem;
    max-height: none;
    border: 1px solid;
    display: flex;
    justify-content: center;
    z-index: 5;
    background: url("./undercard_backgroung_white.png") rgb(255, 255, 255);
}

.underCards .contPokedex .contPokedexAnnidato {
    width: 950px;
    height: 100%;
    z-index: 6;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
}

.underCards .contPokedex .contPokedexAnnidato #contDisplay1 {
    width: 55%;
    height: 850px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.underCards .contPokedex .contPokedexAnnidato .stats {
    width: 100%;
    height: 46%;
    background-color: rgb(164, 164, 164);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
}

.underCards .contPokedex .contPokedexAnnidato .stats .col {
    background-color: transparent;
    width: 13%;
    height: 100%;
    margin: 1%;
    color: white;
}

.underCards .contPokedex .contPokedexAnnidato .stats .col .row {
    width: 100%;
    height: 3%;
    margin-top: 5%;
    margin-bottom: 12%;
    background-color: white;
}

.col :nth-child(15) {
    margin-top: 0px !important;
}

.col :nth-child(15) {
    margin-bottom: 0px !important;
}

.underCards .contPokedex .contPokedexAnnidato .stats .contColStats {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.col.q {
    margin-left: 10px !important;
}

.col.w {
    margin-right: 10px !important;
}

.underCards .contPokedex .contPokedexAnnidato .stats .titleStats {
    color: white;
    font-size: 100%;
    text-align: center;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.underCards .contPokedex .contPokedexAnnidato .stats .col .tit {
    width: 100%;
    margin-top: 25%;
    text-align: center;
}

.underCards .contPokedex .contPokedexAnnidato .contIMG {
    width: 100%;
    height: 49%;
    background-color: rgb(233 233 233);
    box-sizing: border-box;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.underCards .contPokedex .contPokedexAnnidato .contIMG img {
    width: 100%;
    height: 100%;
}

.underCards .contPokedex .contPokedexAnnidato .contIMG h3 {
    text-align: center;
    font-size: 22px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.underCards .contPokedex .contPokedexAnnidato .titlePokedex {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.exit {
    width: 100%;
    height: 50px;
    z-index: 100;
    position: fixed;
    top: 420px;
}

.icon {
    width: 60px;
    height: 50px;
    background-color: orangered;
    cursor: pointer;
}

.contTYPE {
    display: flex;
    color: white;
    width: 100%;
}

.contTYPE.type1 {
    justify-content: flex-start;
}

.contTYPE.type2 {
    justify-content: space-evenly;
}

.contTYPE .type {
    padding: 4px 25px;
    font-size: 14px;
    margin: 7px;
    border-radius: 5px;
}

#contDisplay1 .contIMG .contTYPE .type {
    padding: 6px 54px;
    font-size: 23px;
}

.contIMG .contTYPE {
    display: flex;
    color: white;
    width: 100%;
}

#contDisplay2 {
    width: 45%;
    height: 850px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
}

#accurateStats {
    width: 40%;
    height: 40%;
}

.info {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info .presentation {
    text-align: justify;
    width: 100%;
    height: 30%;
}

.info .description {
    width: 100%;
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(48, 167, 215);
    border-radius: 10px;
}

.info .description .col {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.col1 {
    width: 38%;
}

.col2 {
    width: 50%;
}

.info .description .campo {
    width: 50%;
    height: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contDisplay2 .nature {
    width: 100%;
    height: 50%;
}

.und {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start !important;
    flex-wrap: wrap;
    color: white;
}

.und div {

    width: 30%;
    height: 60%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 18px;
}

.disp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.evoluzioni h2 {
    width: 95%;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: left;
}

.evoluzioni h3 {
    margin: 0;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.evoluzioni {
    width: 100%;
    height: 360px;
    border-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 350%, 0 85%);
    background-image: url(./undercard_backgroung_black.png);
    filter: brightness(200%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
}

.disp_ev {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.evol_el {
    width: 27%;
    filter: brightness(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.img_ev {
    width: 180px;
    height: 180px;
    border: 5px solid white;
    border-radius: 50%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 4px 2px 3px rgba(0, 0, 0, 0.2);
}

.img_ev img {
    width: 100%;
    height: 100%;
}

.types_ev {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.types_ev div {
    padding: 5px;
    width: 70px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.title_ev {
    width: 100%;
}

.arrow {
    width: 10%;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pol {
    width: 45px;
    height: 45px;
    border-right: 8px solid white;
    border-bottom: 8px solid white;
    transform: rotate(315deg);
    filter: blur(1px);
}

.sel {
    border-color: rgb(48, 167, 215) !important;;
}

